target/
docs/
README.md
!.mvn/wrapper/maven-wrapper.jar
/mvnw
/mvnw.cmd
/.mvn/wrapper/maven-wrapper.properties
/target/
.mtj.tmp/
*.class
*.log
*.ctxt
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
.classpath
.project
.settings/
bin/
.idea/
*.iml
*.iws
.vscode/
.DS_Store
